<h2>@ViewBag.Message</h2>
<br />
<h4>
  We are just Another Insurance Company!  Just like the hundreds of other insurance companies out there, we offer "outstanding coverage" at competitive rates.   
  <br /><br />
  Whether you wanted to or not, you have found Another Insurance Company. 
  <br /><br />
  Thank you for stopping by!
</h4>