@{
  ViewBag.Title = "Home Page";
}

<div class="jumbotron">
  <h2>You have found...</h2>
  <h1>Another Insurance Company!</h1>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Get a Quote Now!</h2>
    <p class="lead">Click below to see what you qualify for!  Just like other insurance companies, you can count on us to give you a quote!.</p>
    <p><a href="~/quote/index" class="btn btn-primary btn-lg">Start Quote &raquo;</a></p>
  </div>
  <div class="col-md-4">

  </div>
  <div class="col-md-4">

  </div>
</div>