{% extends 'movies/base.html' %}

{% load static %}

{% block content %}
<div id="image">


    <div class="About_Container">
        <h2>Welcome to The Movie Encyclopedia!</h2>
        <br>
        <br>
        <p>This site encourages the growth and archiving of film history!
            <br>
           With your help we will be able to have a digital database of the world's best, and worst, movies of all time.
           <br>
           This site will continuously be worked on and updated, but it can't be done
           without your contribution!
           <br>
           Thank you for the support!</p>
    </div>

    <div class="box_office">
        <h2>This Week's Box Office Hits!</h2>
            {{ weekend_of }}
        <table class= "table table-responsive" id="listOfMovies">
            <tr id="headerRow">
                <th>Movie Title</th>
                <th>Weekend Gross</th>
                <th>Total Gross</th>
                <th>Weeks In Theater</th>
            </tr>


            {% if movie %}
                <tr>
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.weekend }}</td>
                    <td>{{ movie.gross }}</td>
                    <td>{{ movie.weeks }}</td>
                </tr>
            {% endif %}

        </table>
    </div>

</div>

{% endblock %}

